/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar styles*/
.container {
    margin-top: 0%;
    background-color: #000207;
    color: white;
    position: fixed;
    width: 100%;
    height: 3rem;
    margin-bottom: 5%;
}

.nav-link {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    float: right;
    margin-right: 3%;
}

.nav-link li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
}

.nav-link li a:hover {
    color: greenyellow;
}

.nav-logo-container {
    margin-top: .5rem;
    float: left;
}

.nav-logo {
    width: 10rem;
    height: auto;
    margin-left: 3rem;
}

/*Seccion principal*/

.main-section {
    padding-top: 5%;

    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.main-content {
    padding: 5%;
    margin: 5%;
    
    -webkit-box-shadow: -1px 0px 46px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 46px 5px rgba(0,0,0,0.75);
box-shadow: -1px 0px 46px 5px rgba(0,0,0,0.75);

}
h1{
    text-align: left;
}
.nombres-apellidos{
    display: flex;
    flex-direction: column;
    
    padding: 8px;
}
.nombre{
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.apellido{
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.telefono-direccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*Botones*/

.main-button a{
    
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    
    /*Transition*//*hace que se anime el vinculo */
    transition-property: background-color, color,border-radius;
    transition-duration: 1s;
    background-color: rgb(61, 40, 250);
    color: rgb(255, 255, 255);
}
.main-button a:hover{/*Hace que cambie con el cursor del mouse*/
    background-color: rgb(16, 238, 35);
    color: thistle;
    border-radius: 4px;
}

.main-button {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    float: right;
    margin-right: 3%;
}
/*Footer styles*/

.footer-section{
    
    text-align: center;
    margin: 20px ;
}